mixin box(img_src, img_desc, title, description)
  .box 
    .box__image: img(src="../images/"+img_src, alt=img_desc)
    .box__content 
      h2=title 
      p=description

mixin math_box(img_src, img_desc, title, description)
  .math--box
    .math--box__icon: img(src="../images/icons/"+img_src, alt=img_desc) 
    .math--box__content
      h2=title
      if title=='Square'
        form
          label(for="squareInput") Write square's side
          input(id="squareInput" type="number")
        .math--box__content__buttons
          button(type="button" onclick="squarePerimeter()") calculate perimeter
          button(type="button" onclick="squareArea()") calculate area
      else if title=='Triangle'
        form
          label(for="triangleSideInput") Write triangle's side
          input(id="triangleSideInput" type="number")
          label(for="triangleBaseInput") Write triangle's base
          input(id="triangleBaseInput" type="number")
        .math--box__content__buttons
          button(type="button" onclick="trianglePerimeter()") calculate perimeter
          button(type="button" onclick="triangleArea()") calculate area
      else if title=='Circle'
        form
          label(for="circleInput") Write circle's radius
          input(id="circleInput" type="number")
        .math--box__content__buttons
          button(type="button" onclick="circleCircunference()") calculate circunference
          button(type="button" onclick="circleArea()") calculate area
